.App {
    background: var(--color-bg);
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 17px;
    background: #040C18;
}

::-webkit-scrollbar-thumb {
    background: #031B34;
}

.header::before {
    z-index: -1;
    background-image: url(./assets//blurTopLeft.svg);
    filter: blur(282px);
}

.header::after {
    z-index: -1;
    background-image: url(./assets//blurTopRight.svg);
    filter: blur(282px);
}

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what_is_GPT {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.what_is_GPT::before {
    background-image: url(./assets/GPT_blurTop.svg);
    background-size: cover;
    z-index: -1;
}

.what_is_GPT::after {
    background-image: url(./assets/GPT_blurBottom.svg);
    background-size: cover;
    z-index: -1;
}

.topLine::before {
    background: var(--gradient-text);
}

.getStarted {
    background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}